
<%content_for :head do%>
    <meta property="og:image" content="<%= @ignite.slides.first.image %>"/>
<%end%>

<% content_for :title do%>
    <%=@ignite.slides.first.content%>
<%end%>

<section class="main">

  <% @ignite.slides.each_with_index do |slide, index| %>
    <% unless slide.image.blank? %>
      <div class="slide" style="background: url(<%= slide.image %>) no-repeat center center;">
        <h1><%=slide.content%></h1>
        <!-- TODO Improve UX by allowing clicks to pass slide. Must degrade gracefully -->
      </div>
    <% end %>
  <% end %>
  <%= render :partial => 'last_slide' %>
</section>

<script>
  var comecou = false;
  
  function ignite() {
    if(!comecou) {
      alert("Clique OK para começar");
      comecou = true;
    }
    setTimeout("callIgnite()", 15000);
  }
  
  function callIgnite() {
    var changed = false;
    changeTo(function(slide) {
      slide = slide.next('.slide');
      changed = slide.length;
      return slide;
    })
    if(changed) {
      ignite(); 
    }
  }
  
  $(function() {
    $(".slide").hide();
    $(".slide:first-child").fadeIn();
    
    ignite();
  });
</script>